#placepage{

    .slider{
        width: 100%;
        --slider-height:50vh;

        &__title{
            margin-left: 120px;
            position: absolute;
            left: 0;top: 50%;
            @include text(40px,'ol',54px,$white-cl,none);
            @include transform(translateY(-50%));
        }

        &__note{
            margin-right: 120px;
            position: absolute;
            top: 50%;right: 0;
            display: flex;
            @include transform(translateY(-50%));

            &-1{
                @include text(16px,'ol',24px,$primary-color,none);
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 4px;height: 4px;
                    background-color: $primary-color;
                    right: -8px;top: 50%;
                    @include transform(translateY(-50%) rotate(45deg));
                }
            }

            &-2{
                margin-left: 21px;
                @include text(16px,'ol',24px,$white-cl,none);
            }
        }

        @include md{
            --slider-height: 25vh;
        }

        @include xs{
            --slider-height: 35vh;
        }
    }//xong responsive

    .scimg{
        background-color: $bgcl-light-blue;

        &__list{

            &-item{
                position: relative;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    position: absolute;
                    top: 50%;left: 50%;
                    object-fit: cover;
                    @include transform(translate(-50%,-50%));
                }
            }
            
            .row{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 30px;
                grid-auto-rows: 285px;
                margin-bottom: 30px;

                &:nth-of-type(odd){

                    .scimg__list-item{

                        &:first-of-type{
                            grid-column: 1/3;
                            grid-row: 1/3;
                        }
        
                        &:nth-of-type(2){
                            grid-column: 3/4;
                            grid-row: 1/3;
                        }
        
                        &:nth-of-type(4){
                            grid-column: 4/5;
                            grid-row: 2/3;
                        }
                    }
                }

                &:nth-of-type(even){

                    .scimg__list-item{

                        &:first-of-type{
                            grid-column: 1/2;
                            grid-row: 1/3;
                        }
        
                        &:nth-of-type(3){
                            grid-column: 2/3;
                            grid-row: 2/3;
                        }
        
                        &:nth-of-type(4){
                            grid-column: 3/5;
                            grid-row: 1/3;
                        }
                    }
                }

                @include sm{
                    grid-auto-rows: 200px;
                }

                @include xs{
                    grid-auto-rows: 150px;
                    gap: 15px;
                    margin-bottom: 15px;
                }
            }
        }

        .btn{
            margin: 80px auto 0 auto;
        }
    }
}